@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');
@import url('variables.css');

body,
html {
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    color: #555e58;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-weight: 400;
    line-height: 1.5em;
}


p {
    font-size: 15px;
    margin: 12px 0 0;
    line-height: 24px;
}



a {
    color: #333;
    font-weight: 400;
}

button:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0px;
    list-style: none;
}



a,
a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}



/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/



.wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */



#sidebar {
    position: fixed;
    height: 100vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 260px;
    /*overflow: auto;*/
    transition: all 0.3s;
    background: #333;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}


#sidebar::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
    width: 5px;
    border-radius: 10px;
    background-color: #fff;
    display: none;
}


#sidebar:hover::-webkit-scrollbar {
    display: block;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
    display: block;
}

#sidebar .sidebar-header {
    padding: 20px 20px 20px 10px;
    border-bottom: 1px solid #4b545c;
    margin: 0px 10px;
}

.sidebar-header h3 {
    color: #fff;
    font-size: 17px;
    margin: 0px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 600;
}

.sidebar-header h3 img {
    width: 45px;
    margin-right: 10px;
}

#sidebar ul li {
    padding: 2px 7px;
}

#sidebar ul li.active>a {
    color: #fff;
    background-color: rgba(200, 200, 200, 0.2);
}

#sidebar ul li.active>a i {
    color: var(--bs-primary);
}

#sidebar ul li a:hover i {
    color: var(--bs-primary);
}

#sidebar ul li a:hover {
    color: #fff;
    background-color: rgba(200, 200, 200, 0.2);
}

/*.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}*/

.navbar-nav li a.user.dropdown-toggle::after {
    right: 0px;
}

#sidebar ul li.drodown {
    position: sticky;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
    color: #c2c7d0;
}

#sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
    color: #c2c7d0;
    margin-left: 10px;
    transition: all 500ms;
}

/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */




/*=======================================================
   main-content navbar-design start
   ===============================================*/

#content {
    position: relative;
    transition: all 0.3s;
    background-color: #EEEEEE;
}

.top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;
}

.main-content {
    padding: 10px 20px 0px 20px;
    position: relative;
    width: 100%;
}

.navbar {
    color: #FFFFFF;
    border-bottom: 2px solid var(--bs-primary);
    box-shadow: 0 6px 10px rgba(51, 51, 51, 0.3);
}

.navbar a:hover {
    color: var(--bs-primary) !important;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar button {
    background-color: transparent;
    border: none;
}

.navbar button span {
    color: #fff;
}

/*#sidebarCollapse {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-right: 20px;
    border: 2px solid #ddd;
    color: #FFFFFF;
    cursor:default;
}

#sidebarCollapse span.arrow {
    margin: 5px;
    padding: 0px;
    transition: 0.3s all;
    display: block;
}*/

.arrow-rotated {
    transform: rotate(180deg);
}

.navbar-nav>li.active {
    color: #FFFFFF;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav>li>a {
    color: #FFFFFF !important;
}

a.nav-link.show {
    color: var(--bs-primary) !important;
}


.navbar .notification {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #d9534f;
    min-width: 15px;
    text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}


.navbar-nav>li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    min-width: 15rem;
}

.dropdown-menu li>a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 150ms linear;
}

.dropdown-item:hover {
    background-color: transparent;
}

.navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav li a {
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px !important;
}

/*=======================================================
   main-content navbar-design end
   ===============================================*/



/*=======================================================
   main-content navbar-design start
   ===============================================*/


/*=======================================================
   main-content inner design like card start
   ===============================================*/


.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.card:hover{
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.2), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.2), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.22), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.2);
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}


/*=======================================================
   main-content inner design like card end
   ===============================================*/


/*=======================================================
   main-content inner design like table start
   ===============================================*/
.table {
    width: 100%!important;
    border-collapse: separate;
    border-spacing: 0 10px;
}


.table thead th {
    border: none;
    padding: 10px;
    color: #fff;
}

.table tbody tr {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -8px rgba(0, 0, 0, 0.29);
}

.table tbody th,
.table tbody td {
    border: none;
    padding: 10px;
    background: #fff;
}

.table tbody td .close span {
    font-size: 12px;
    color: #dc3545;
}

/*=======================================================
   main-content inner design like table start
   ===============================================*/

/*=============================================
  footer design start
  =========================================*/

.footer {
    border-top: 1px solid #e7e7e7;
}

footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}


footer .copyright {
    padding: 15px;
    font-size: 14px;
    margin: 0;
}

footer .copyright a {
    color: #555e58;
}

footer .copyright a:hover,
footer ul li a:hover {
    color: #333;
}


/*=============================================
  footer design end
  =========================================*/

#sidebar.show-nav,
.body-overlay.show-nav {
    transform: translatex(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px) {
    #sidebar.active {
        width: 80px;
        height: 100% !important;
        position: fixed !important;
        overflow: visible !important;
        top: 0 !important;
        z-index: 666;
        float: left !important;
        bottom: 0 !important;
    }

    #sidebar .sidebar-header{
        padding: 13px;
    }

    #sidebar.active .sidebar-header h3 span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active ul li a span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active .dropdown-toggle::after {
        display: none;
        transition: all 0.5s ease;
    }

    #content {
        width: calc(100% - 260px);
        position: relative;
        float: right;
        transition: all 0.3s;
        background-color: #EEEEEE;
    }

    #content.active {
        width: calc(100% - 80px);
    }

    #sidebar.active .menu {
        position: absolute;
        left: 81px;
        background-color: white;
        width: 180px;
        height: auto;
        margin: 5px 0;
        top: 0;
        border: 1px solid #dcd9d9;
        z-index: 4;
    }
}


/*@media only screen and (min-width:992px) {
    .dropdown-menu {
        border: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
        transform: translate3d(0, -20px, 0);
        visibility: hidden;
        transition: all 150ms linear;
        display: block;
        min-width: 15rem;
        right: 0;
        left: auto;
        opacity: 0;
    }

}*/


/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width:992px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 260px;
        transform: translatex(-100%);
        transition: all 150ms linear;
        box-shadow: none !important;
    }

    .body-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        transition: all 150ms linear;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/*===============small-screen overlay sidebar design media queries==============*/




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */